huggingface_hub
pydub
librosa
langchain-huggingface
langchain
langchain-core
audio-recorder-streamlit
toml
openai
mosestokenizer
streamlit-audiorecorder
indic-nlp-library
nltk
sacremoses
pandas
regex
mock
sentencepiece
bitsandbytes 
scipy 
accelerate 
datasets

pip==24.0
fairseq==0.12.2